.ListRightBar {

    .image {
        height: 50px;
        width: 50px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .text {
        color: white;
    }

    .texts {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}

.rightSideBarList {
    overflow-y: scroll;
}

.role {
    margin-top: 10px;
    margin-right: 10px;
    color: white;
    text-align: right;
}