@import "colors.scss";
@import "header.scss";
@import "leftSideBar.scss";
@import "signal.scss";
@import "scroll.scss";
@import "RightSidebar.scss";

body {
    background-color: $bgcolor;
}

.wrapper {
    overflow: auto;
    
}
.siderBar {
    background-color: $sideBarColor;
}

.centerParent {
    display: flex;
    justify-content: center;
    align-items: center;
}